Cadastrar: <input type="radio" name="escolha" value="1" (change)="changeTipoTemplate('1')">
Atualizar: <input type="radio" name="escolha" value="2" (change)="changeTipoTemplate('2')">
Obter todos:<input type="radio" name="escolha" value="3" (change)="changeTipoTemplate('3')">
Deletar: <input type="radio" name="escolha" value="4" (change)="changeTipoTemplate('4')">
Encontrar: <input type="radio" name="escolha" value="5" (change)="changeTipoTemplate('5')">

<ng-container *ngIf="tipo_template === '1'">
  <h2>Cadastrar Personagem: </h2>
  <hr>
<form>

  <p><label>Nome: </label> <input type="text" name="nome" placeholder="Digite nome" [(ngModel)]="personagem.nome"></p>
  <p><label>Habilidade: </label> <input type="text" name="habilidade" placeholder="Digite as habilidades" [(ngModel)]="personagem.habilidade"></p>
  <p><label>Planeta: </label> <input type="text" name="planeta" placeholder="Digite nome planeta" [(ngModel)]="personagem.planeta"></p>
  <p><label>Armas: </label> <input type="text" name="armas" placeholder="Digite as armas" [(ngModel)]="personagem.armas"></p>
  <p><label>URL Avatr: </label> <input type="text" name="habilidade" placeholder="Digite URL do avatar" [(ngModel)]="personagem.avatar"></p>
  <button class="buttons-actions" (click)="adicionarpersonagem()">Adicionar</button>


</form>
</ng-container>

<ng-container *ngIf="tipo_template === '2'">
  <h2>Atualizar Personagem: </h2>
  <hr>
<form>
  <p><label>Id: </label> <input type="text" name="id" placeholder="Digite id em caso de atualização" [(ngModel)]="id"></p>
  <p><label>Nome: </label> <input type="text" name="nome" placeholder="Digite nome" [(ngModel)]="personagem.nome"></p>
  <p><label>Habilidade: </label> <input type="text" name="habilidade" placeholder="Digite as habilidades" [(ngModel)]="personagem.habilidade"></p>
  <p><label>Planeta: </label> <input type="text" name="planeta" placeholder="Digite nome planeta" [(ngModel)]="personagem.planeta"></p>
  <p><label>Armas: </label> <input type="text" name="armas" placeholder="Digite as armas" [(ngModel)]="personagem.armas"></p>
  <p><label>URL Avatr: </label> <input type="text" name="habilidade" placeholder="Digite URL do avatar" [(ngModel)]="personagem.avatar"></p>
  <button class="buttons-actions" (click)="atualizar()">Atualizar</button>

</form>
</ng-container>

<ng-container *ngIf="tipo_template === '3'">
  <h2>Obter todos personagens: </h2>
  <hr>
<form>

  <button class="buttons-actions" (click)="obterTodosPersonagens()">obterTodosPersonagens</button>
  <section class="personagens-card">
    <div *ngFor="let personagem of personagens">
        <div class="container-fluid">
            <div class="container">
            <div class="row">
                <div class="col-sm-4">
                <div class="card card_red text-center" style="width:18rem">
                    <div class="title">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <img src={{personagem.avatar}} class="card-img-top" alt="..." width="200px">
                    </div>
                    <div class="price">
                    <h4>{{personagem.nome}}</h4>
                    </div>
                    <div class="option">
                    <ul>
                        <li><strong>Habilidade: </strong>{{personagem.habilidade}}</li>
                        <li><strong>Planeta: </strong>{{personagem.planeta}}</li>
                        <li><strong>Armas: </strong>{{personagem.armas}}</li>
                        </ul>
                    </div>
                    <a href="#">Saiba Mais</a>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>
  </section>

</form>
</ng-container>

<ng-container *ngIf="tipo_template === '4'">
  <h2>Deletar Personagem: </h2>
  <hr>
<form>
  <p><label>Id: </label> <input type="text" name="id" placeholder="Digite id em caso de atualização" [(ngModel)]="id"></p>

  <button class="buttons-actions" (click)="remover()">Remover</button>

</form>
</ng-container>

<ng-container *ngIf="tipo_template === '5'">
  <h2>Encontrar Personagem: </h2>
  <hr>
<form>
  <p><label>Id: </label> <input type="text" name="id" placeholder="Digite id em caso de atualização" [(ngModel)]="id"></p>

  <button class="buttons-actions" (click)="obterSomenteUm()">Obter Somente 1</button>
</form>
</ng-container>

