html,
body,
div,
main,
footer {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(130, 187, 187);
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    color: rgb(26, 131, 5);
    text-align: center;
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-abstrato-aquarela-de-inverno-azul_23-2149147677.jpg?w=740&t=st=1670684466~exp=1670685066~hmac=1767bbdb2e6dd0b723089fe993a6d7846ac8eec569c1ebf3d945e40c7f0629b8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

p {
    font-size: 14px;
}

a#botao button {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
}

a#botao img {
    height: 40px;
}

div#imagens {
    width: 100%;
    display: flex;
}

div#imagens img {
    width: calc(100% / 3);
    display: block;
}

iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(8, 29, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img#logo {
    margin: 0;
    width: 30px;
    height: 30px;
}

li {
    list-style-type: none;
}

nav ul li a {
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: all 500ms;
}

nav ul li a:hover {
    background-color: #fff;
    color: rgb(17, 18, 80);
}