<form [formGroup]="productForm">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" formControlName="id">
    <label for="floatingInput">Product ID</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" formControlName="name">
    <label for="floatingInput">Product Name</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingPassword" formControlName="preco">
    <label for="floatingPassword">Product Preco</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="floatingInput" formControlName="quantity">
    <label for="floatingInput">Product Quantity</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput"  disabled>
    <label for="floatingInput">{{ userName }}</label>
  </div>
  <button (click)="onSubmit()">Submit</button>
</form>
